---
import "../css/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<title>LycaModded</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
	</head>

	<body>
		<slot />
		<img src="/blue.webp" alt="blue" class="blue hide-on-small-screen" />
	</body>

	<style>
		.blue {
			position: fixed;
			bottom: 0;
			right: 0;
		}
	</style>
</html>
